.game {
  padding-top: 20px;
  margin: 0 auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;

  [role=button] {
    cursor: pointer;
  }

  &__history {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  &__board {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 14px;
  }

  &__button {
    margin-bottom: 20px;
  }
}

.board {
  margin-bottom: 30px;

  &__row {
    display: flex;
  }
}

.row {
  &__cell {
    width: 45px;
    height: 45px;
    background: #fff;
    border: 1px solid #999;
    font-size: 18px;
    line-height: 45px;
    //margin-right: -1px;
    //margin-top: -1px;
    text-align: center;
  }
}

.back {
  &__arrow {
    margin-right: 5px;
  }
}

.forward {
  &__arrow {
    margin-left: 5px;
  }
}

